; ; Gitea app.ini configuration, managed by Ansible
WORK_PATH = /var/lib/gitea

[server]
PROTOCOL = {{ gitea_protocol }}
HTTP_PORT = {{ gitea_port_container }}
DOMAIN = {{ gitea_domain }}
ROOT_URL = https://{{ gitea_domain }}:{{ gitea_port }}/
# only set up TLS certificate if using HTTPS
{% if gitea_protocol == 'https' %}
USE_TLS = true
CERT_FILE = /etc/letsencrypt/live/{{ gitea_domain }}/fullchain.pem
KEY_FILE = /etc/letsencrypt/live/{{ gitea_domain }}/privkey.pem
{% endif %}
SSH_PORT = {{ gitea_ssh_port }}

[database]
DB_TYPE = mysql
HOST = gitea-db:3306
NAME = {{ gitea_db_name }}
USER = {{ gitea_db_user }}
PASSWD = {{ gitea_db_password }}

[security]
INSTALL_LOCK = true
INTERNAL_TOKEN_URI = file:/etc/gitea/secrets/internal_token

[actions]
ENABLED = true

[oauth2]
JWT_SECRET = {{ gitea_jwt_secret }}
