;; Gitea app.ini configuration, managed by Ansible

[server]
PROTOCOL         = https
DOMAIN           = {{ gitea_domain }}
ROOT_URL         = https://{{ gitea_domain }}:{{ gitea_port }}/
CERT_FILE        = /etc/letsencrypt/live/{{ gitea_domain }}/fullchain.pem
KEY_FILE         = /etc/letsencrypt/live/{{ gitea_domain }}/privkey.pem
SSH_PORT         = {{ gitea_ssh_port }}

[database]
DB_TYPE          = mysql
HOST             = gitea-db:3306
NAME             = {{ gitea_db_name }}
USER             = {{ gitea_db_user }}
PASSWD           = {{ gitea_db_password }}

[security]
INSTALL_LOCK     = true

[actions]
ENABLED=true