{
  "TCP": {
    "443": {
      "HTTPS": true
    }{% if tailscale_serve_ssh_port is defined %},
    "{{ tailscale_serve_ssh_port }}": {
      "HTTPS": false,
      "TCPForward": "127.0.0.1:{{ tailscale_serve_ssh_port }}"
    }
{%- endif %}
  },
  "Web": {
    "{{ tailscale_serve_domain }}:443": {
      "Handlers": {
        "/": {
          "Proxy": "http://127.0.0.1:{{ tailscale_serve_proxy_port }}"
        }
      }
    }
  }
}
